/*Titlebar Styles*/
h1.titlebar {
    /*Background Style*/
    background-color: #333;
    
    /*Border Styles*/
    border:medium inset gray;
    border-radius: 0px;
    padding:auto;

    /*Text Style*/
    text-align:center;
    color:white;
    text-shadow: 5px 5px 5px black;
    
}

/*Navigation Bar Style*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border:medium inset gray;
}
  
ul.navbar li {float: left;}
  
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
    border-right:1px solid white;
    border-left:1px solid white;
}
  
ul.navbar li a:hover:not(.active) {background-color: rgb(0, 97, 177);}
  
ul.navbar li a.active {background-color: #4CAF50;}
  
ul.navbar li.right {float: right;}

ul.navbar li.rightactive {float: right; background-color: #4CAF50;}
  
@media screen and (max-width: 600px) {
    ul.navbar li.right, 
    ul.navbar li {float: none;}
}

/*Body Styles*/
body {
    background-color:#666;
    /*Text Style*/
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

/*Footer Style*/
div.footer {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    max-width: auto;
    max-height: auto;
    position: fixed;
    bottom: 0;
}

/*Paragraph Text Styles*/
div.info {
    color: white;
    text-shadow: 2px 2px 3px black;
}

/*Link Button Styles*/
a.github:link, a.github:visited {
    background-color:#333;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
    border:medium inset gray;
    display: inline-block;
}

a.github:hover, a.github:active {
    background-color: rgb(0, 97, 177);
}