/*Titlebar Styles*/
h1.titlebar {
    /*Background Style*/
    background-color: azure;
    
    /*Border Styles*/
    border:medium inset gray;
    border-radius: 15px;
    padding:auto;

    /*Text Style*/
    text-align:center;
    color:green;
    
}

/*Navigation Bar Style*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
ul.navbar li {float: left;}
  
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.navbar li a:hover:not(.active) {background-color: #111;}
  
ul.navbar li a.active {background-color: #4CAF50;}
  
ul.navbar li.right {float: right;}
  
@media screen and (max-width: 600px) {
    ul.navbar li.right, 
    ul.navbar li {float: none;}
}

/*Body Styles*/
body {
    background-color:silver;
    /*Text Style*/
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

div.footer {
    background-color: yellowgreen;
    text-align: center;
    max-width: auto;
    max-height: auto;
    position: fixed;
    bottom: 0;
}

/*Button Styles*/
button {
    align-self: center;
}

a.github:link, a.github:visited {
    background-color:blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.github:hover, a.github:active {
    background-color: green;
}